.jqssparktooltip {
    position: absolute;
    left: 0px;
    top: 0px;
    visibility: hidden;
    background: rgb(0, 0, 0) transparent;
    background-color: rgba(0, 0, 0, 0.6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    color: white;
    font: 10px arial, san serif;
    text-align: left;
    white-space: nowrap;
    padding: 5px 60px 20px 5px;

    border: 1px solid white;
    z-index: 10000;
}

.sparkline-box.selected {
    border: 1px solid red;
}
.joblist-executions{
    display: flex;
    display: -webkit-flex;
}
.joblist-execution-status-link{
    display: inline-block;
}

.sparkline-box {
    border: 1px solid transparent;
    margin: 5px 0px;
    width: 20px;
    display: inline-block;
    text-align: center;
}

.sparkline-box + .sparkline-box , .joblist-execution-status-link + .joblist-execution-status-link {
    margin-left: 10px;
}

/*.jqsfield {*/
    /*color: white;*/
    /*font: 10px arial, san serif;*/
    /*text-align: left;*/
/*}*/